# Executables
*.exe
*.out
*.app
*.class
Agents/APDescription.txt
Agents/MTPs-Main-Container.txt
MTPs-Main-Container.txt
APDescription.txt
Agents/orderpicker*.txt
Agents/shelf*.txt
# tmp
*~

node_modules
