<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="Agents_jade.Boot_params"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Agents/lib/jade.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jade.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-gui -agents customer:warehouse.agents.CustomerAgentTicking;warehouse:warehouse.agents.WarehouseAgent;orderpicker1:warehouse.agents.OrderPicker;robot_1:warehouse.agents.RobotAgent;robot_2:warehouse.agents.RobotAgent;robot_3:warehouse.agents.RobotAgent;shelf_1:warehouse.agents.ShelfAgent(ROTOR,100,SCREW,100,STABILISER,100);shelf_2:warehouse.agents.ShelfAgent(BATTERY,100,CIRCUIT,100,TUNER,100);shelf_3:warehouse.agents.ShelfAgent(ENGINE,100,SCREW,100,CHARGER,100);shelf_4:warehouse.agents.ShelfAgent(CASE,100,CAMERA,100,SPOTLIGHT,100);shelf_5:warehouse.agents.ShelfAgent(CASE,100,CHARGER,100,BATTERY,100)"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Agents"/>
</launchConfiguration>
